<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778498106392-2fdrolnhgkbo8qakj6hp8ku7scqdmkin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778498106392-2fdrolnhgkbo8qakj6hp8ku7scqdmkin</string>
	<key>API_KEY</key>
	<string>AIzaSyBUY9UZ3_1jCJ8AazT3uR16jLJz3VgbwTg</string>
	<key>GCM_SENDER_ID</key>
	<string>778498106392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.elated.mobile</string>
	<key>PROJECT_ID</key>
	<string>elatedapp-3e583</string>
	<key>STORAGE_BUCKET</key>
	<string>elatedapp-3e583.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:778498106392:ios:cc341d0a428239b9578f6d</string>
	<key>DATABASE_URL</key>
	<string>https://elatedapp-production.firebaseio.com</string>
</dict>
</plist>
