//
//  Production.xcconfig
//  Elated
//
//  Created by Marlon on 2021/2/21.
//  Copyright © 2021 elatedteam. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ROOT_URL = https:/$()/live.elated.io
APP_NAME = ELATED
APP_BUNDLE_ID = io.elated.mobile
ENV = PRODUCTION
FB_APP_ID = 242882652718250
FB_DISPLAY_NAME = Elated, INC.
FB_URL_SCHEME = fb242882652718250
GOGGLE_URL_SCHEME = com.googleusercontent.apps.778498106392-n3o1g099p1o5n98cses8gq0afgoqa05r
INSTAGRAM_URL_SCHEME = https:/$()/com.instagram/
INSTAGRAM_CLIENT_ID = 818203072410163
INSTAGRAM_SECRET = 7d33e0002c249b39152c15366a3942de
